
            

<div>
        <app-viniloTransaccion [vinilo]="transaccionDetail.vinilo"></app-viniloTransaccion>
</div>
<br>
       
        <h3  style="color:#ffffff">Informacion</h3>
        
        <br>
        <table class="table table-dark" *ngIf="editTransaccion==false">
            <tbody>
                    <tr>
                            <th scope="row">Estado</th>
                            <td>{{transaccionDetail.estado}}</td>
                            <td><button class="button-light save" (click)="editarTransaccion()" >Editar</button>
                            </td>

                        </tr>
                <tr>
                    <th scope="row"> Forma de Pago</th>
                    <td>{{transaccionDetail.formaDePago}}</td>
                </tr>
                
            </tbody>
        </table>
        <div *ngIf="editTransaccion==true">
                <app-edit-transaccion [transaccionDetail]="transaccionDetail" (update)="actualizar()"(cancel)="ocultarEditT()"></app-edit-transaccion>
        </div>
        <br>
        <h3  style="color:#ffffff">Vinilo</h3>
        
        <br>
        <table class="table table-dark">
            <tbody>
                    <tr>
                            <th scope="row">Nombre</th>
                            <td>{{transaccionDetail.vinilo.nombre}}</td>
                        </tr>
                        <tr>
                                        <th scope="row"> Autor</th>
                                        <td>{{transaccionDetail.vinilo.artista}}</td>
                                    </tr>
                <tr>

                    <th scope="row"> Productora</th>
                    <td>{{transaccionDetail.vinilo.productora}}</td>
                </tr>
                <tr>
                                <th scope="row"> Informacion Adicional</th>
                                <td>{{transaccionDetail.vinilo.informacionAdicional}}</td>
                            </tr>
            </tbody>
        </table>
        <br>
        <h3  style="color:#ffffff">Envio</h3>
        
        <br>
        <table class="table table-dark">
            <tbody>
                    <tr>
                            <th scope="row">Estado</th>
                            <td>{{transaccionDetail.estado}}</td>
                        </tr>
                <tr>
                    <th scope="row"> Dirección Salida</th>
                    <td>{{transaccionDetail.usuarioVendedor.direccion}}</td>
                </tr>
                <tr>
                                <tr>
                                                <th scope="row"> Ubicación actual</th>
                                                <td>{{transaccionDetail.envio.posicionActual}}</td>
                                            </tr>
                                            <tr>
                                <th scope="row"> Direccion envio</th>
                                <td>{{transaccionDetail.usuarioComprador.direccion}}</td>
                            </tr>
                
            </tbody>
        </table>
        <br>
        <app-maps [direccionSalida]="transaccionDetail.envio.posicionActual" [direccionLlegada]="transaccionDetail.usuarioComprador.direccion"></app-maps>


       
