
            

<div>
        <app-viniloTransaccion [vinilo]="transaccionDetail.vinilo"></app-viniloTransaccion>
</div>
<br>
<div class="album__name"  style="color: white">ESTADO:</div>

<div class="album__name"  style="color: white">{{transaccionDetail.estado}}</div>
<br>
<div class="album__name"  style="color: white; font-size: 1em">FORMA DE PAGO:</div>

<div class="album__name"  style="color: white">{{transaccionDetail.formaDePago}}</div>
<br>
<div class="album__name"  style="color: white; font-size: 1em">DESCRIPCION:</div>

<div class="album__name"  style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur dui a felis vulputate convallis. Donec consectetur odio id lobortis gravida. Donec eu mollis tellus. Integer commodo volutpat justo et convallis. Cras a quam a turpis varius fringilla. Aliquam fermentum elementum mi, sit amet tempus lectus suscipit ut.</div>
       
