	
<div class="container">
        <div class="row">
       
           <div class="col-md-4 col-md-offset-3">
             
                <img style="max-width:100%;" src="https://dummyimage.com/198x231.png/5fa2dd/ffffff" />
              
            </div>
           
            <div class="col-md-7 col-md-offset-3" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>Samsung Galaxy S4 I337 16GB 4G LTE Unlocked GSM Android Cell Phone</h3>    
                <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5>
    
                <!-- Precios -->
                <h6 class="title-price"><small>PRECIO</small></h6>
                <h3 style="margin-top:0px;">U$S 399</h3>
    
                <!-- Detalles especificos del producto -->
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;" ><small>Autor</small></h6>                    
                    <div>
                        <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                        <div class="attr" style="width:25px;background:white;"></div>
                    </div>
                </div>
                
                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>CANTIDAD</small></h6>                    
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input value="1" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>                
    
                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>FORMA DE PAGO</small></h6>                    
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input value="TARJETA" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>  
                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar al carro</button>
                    <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6>
                </div> 
                                                      
            </div>                              
    
            <div class="col-xs-9">
                <ul class="menu-items">
                    <li class="active">Detalle del producto</li>
                    
                </ul>
                <div style="width:100%;border-top:1px solid silver">
                    <p style="padding:15px;">
                        <small>
                        Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection, this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go. 
    
                        With its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.
                        </small>
                    </p>
                    <small>
                        <ul>
                            <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
                            <li>Available on GSM, AT T, T-Mobile and other carriers</li>
                           
                        </ul>  
                    </small>
                </div>
            </div>		
        </div>
    </div>        

