.main-page{
    height: 40vh;
    margin-left: calc(100vw*2/12);
    overflow: hidden;
    background: url('../../../assets/bg.png');
    background-size: cover;
    z-index: -1000;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.height-50{
    height: 50vh !important;
}


.router-outlet{
    position: fixed; 
    margin-left: calc(100vw*2/12); 
    height: 90vh;
    overflow-y: scroll;
    background: #212121;
    padding: 3vw 5vw;
    z-index: -1;
}
.router-outlet .row {
    margin: 0;
    padding-bottom: 10vh;
}
.menu{
    margin-left: calc(2*100vw/12);
    height: 35vh;
    background: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.centrado{
    display: flex;

}
.fila{
    height: 7vh;
    color: #fff;
    display: flex;
    padding: 0 2em;
    font-size: 1em;
    align-items: center;
    
}
.fila i {
    flex-grow: 1;
}
.fila div{
    flex-grow: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}
@media (max-width: 900px) {
 

    .router-outlet{
        margin-top: 0;
    }
  }

  @media (max-height: 600px) {
    .navbar{
     display: none;
   }
 }

 