


<app-searchbar></app-searchbar>
<app-navbar style="z-index: 999;"></app-navbar>
<div style="height: 10vh;"></div>
<div class="menu menu-responsive" *ngIf="overlay.menuToogle">
    <div class="usuario">

    </div>
    <div class="fila" routerLink="/me">
            <i class="far fa-user-circle"></i>
            <div class="texto">Mi Cuenta</div>
    </div>
    <div class="fila" routerLink="/transacciones">
            <i class="fas fa-receipt"></i>
            <div class="texto">Transacciones</div>
    </div>
    <div class="fila" routerLink="/carrito-compras">
            <i class="fas fa-shopping-cart"></i>
            <div class="texto">Carrito de Compras</div>
    </div>
    <div class="fila" routerLink="/wishList">
            <i class="fas fa-star"></i>
            <div class="texto">WishList</div>
    </div>
    <div class="fila" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <div class="texto">Salir</div>
    </div>

</div>
<div class="main-page" *ngIf="currentPage">
       
        <h1>Tú dime la canción y el vinilo yo te lo doy</h1>
    
</div>

<div class="container-fluid router-outlet"  >
    <div class="row">
        <div class="col-10">
            <router-outlet></router-outlet>
            

        </div>

    </div>
   

</div>
<app-audio-player *ngIf="overlay.IsVisible" style="z-index: 99999;"></app-audio-player>
