<div class="container-fluid">
    <div class="row" style="height: 10vh; position: fixed; background: var(--dark); width: 100vw;">
        <!--Imagen-->
        <div class="col-2"> 
            <a href="#" ><img src="../../../assets/logo.png" alt="" style="height: 10vh;"></a>
        </div>
        <!--Barra de Navegación-->
        <div class="search col-7" style="display: flex; flex-direction: column; justify-content: space-around">
            <div class="input-group">
                <span>
                    <i class="fas fa-search"></i>
                  </span>
                <input type="text" placeholder="Search" />
                
            </div> 
        </div>
        <!--Perfil Usuario/Boton de Login-->
        <div class="col-3 " style="display: flex; flex-direction: column; justify-content: center; padding: 0 5vw;">
            <div ngbDropdown class="d-inline-block">
                <div class="profile" ngbDropdownToggle>
                    <img src="https://via.placeholder.com/150x150" alt="" class="pic">
                    <div class="btn " id="dropdownBasic1" >Nombre de Usuario</div>
                    <i class="fas fa-chevron-down"></i>
                </div> 
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background: #000; z-index: 100;">
                        <button class="dropdown-item">Mi Cuenta</button>
                        <button class="dropdown-item">Transacciones</button>
                        <button class="dropdown-item">Salir</button>
                    </div>
            </div>
        </div>
    </div>
</div>