  input{
    border:none;
    background-color: transparent;
    outline: none;
    padding-left: 1%;
    width: 95%
  }
  input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
  i{
    color: gray;
  }
  .fas {
    color: white;
  }
  
  .input-group{
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    background: white;
    color: #181818;
    max-width: 50vw;

    outline: none;
  }
.search{
  padding:0;
  margin:  0;
}
.dropdown-toggle::after{
  display: inline;
  width: 0;
  height: 0;
  margin-left: 0;
  vertical-align: 0;

  border-top: 0solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}
.btn{
  outline: none;
  border: none;
  background: none;
  color: #f2f2f2;
  font-weight: normal;

}
.profile{
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;

}
.profile .pic {
  max-width: 5vh;
  max-height: 5vh;
  border-radius: 50%;
}
.profile button{
  outline: none;
}
.btn:hover,.btn:active, .btn:focus, .btn:visited{
  outline: none !important;

}
.dropdown-item{
  color: #ADAFB2;

}
.dropdown-item:hover{
  color: #f2f2f2;
  background: #212121;

}
