<div class="container-fluid">
    <div class="row" style="height: 10vh; position: fixed; background: var(--dark); width: 100vw;">
        <!--Imagen-->
        <div class="col-2"> 
            <a href="#" ><img src="../../../assets/logo.png" alt="" style="height: 10vh;"></a>
        </div>
        <!--Barra de Navegación-->
        <div class="search col-6" style="display: flex; flex-direction: column; justify-content: space-around">
            <div class="input-group">
                <span>
                    <i class="fas fa-search"></i>
                  </span>
                <input type="text" placeholder="Search" />
                
            </div> 

        </div>
        <div class="col-1" style="display:flex; color:white; flex-direction: column;justify-content: center;">
                <div style="font-size: 1.5em; display: flex; justify-content: space-around">
                        <i class="fas fa-star" style="cursor: pointer;" routerLink="/wishList"></i>
                        <i class="fas fa-shopping-cart" style="cursor: pointer;" routerLink="/carrito-compras"></i>
                </div>
                
        </div>

        <div class="col-3" *ngIf="(this.auth.getUserObject()==null);then notLogged else logged"></div>
        
        <!--Boton de inicio de sesión-->
        <ng-template #notLogged>
            <section class="col-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <a routerLink="/login" style="color: #fff;background: var(--primary); border: none; border-radius: 1vh; padding: 1vw 3vw;">
                    Ingresa
                </a>
            </section>
        </ng-template>

        <!--Perfil Usuario/Boton de Login-->
        <ng-template #logged>
            
                <div style="display: flex; flex-direction: column; justify-content: center; padding: 0 5vw;" class="col-3">
            <div ngbDropdown class="d-inline-block">
                <div class="profile" ngbDropdownToggle>
                    <img src="https://via.placeholder.com/150x150" alt="" class="pic">
                    <div class="btn " id="dropdownBasic1" >{{this.auth.getUserObject().nombre}}</div>
                    <i class="fas fa-chevron-down"></i>
                </div> 
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background: #000; z-index: 100;">
                        <button class="dropdown-item" routerLink="/me">Mi Cuenta</button>
                        <button class="dropdown-item" routerLink="/transacciones">Transacciones</button>
                        <button class="dropdown-item" (click)="this.logout()">Salir</button>
                    </div>
            </div>
                </div>
         
        </ng-template>
    </div>
</div>