<div class="row">
    <div class="container2">
        <div class="login-wrapper">


            <h4 class="display-4" style="color: #fff;margin-bottom: 1em;">Crear un vinilo</h4>
            <form name="vinilo" class="login-form" (ngSubmit)="f.form.valid && createVinilo()" #f="ngForm" novalidate>
                <div class="username">
                    <label><span class="entypo-user"><i class="fas fa-compact-disc"></i></span></label>
                    <input type="text" name="contenidoMensaje" class="form-control" id="contenidoMensaje" [(ngModel)]="vinilo.nombre"
                        #contenidoMensaje="ngModel" placeholder="Nombre del vinilo" [ngClass]="{'is-valid' : f.submitted && contenidoMensaje.invalid}"
                        required>
                </div>
                <div class="password">
                    <label><span class="entypo-user"><i class="fas fa-microphone"></i></span></label>
                    <input type="text" name="artista" class="form-control" id="artista" [(ngModel)]="vinilo.artista"
                        #artista="ngModel" placeholder="Artista" [ngClass]="{'is-valid' : f.submitted && artista.invalid}" required>
                </div>
                <div class="password">
                        <label><span class="entypo-user"><i class="far fa-calendar-alt"></i></span></label>
                    <div [ngClass]="{ 'is-invalid': f.submitted && fechaLanzamiento.invalid }">
                        <input type="text" name="fechaLanzamiento" class="form-control" id="fechaLanzamiento"
                            [(ngModel)]="vinilo.fechaLanzamiento" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                            #fechaLanzamiento="ngModel" placeholder="Fecha de lanzamiento" [ngClass]="{'is-valid' : f.submitted && (fechaLanzamiento.untouched || fechaLanzamiento.invalid)}"
                            required>
                    </div>
                </div>
                <div class="password">
                        <label><span class="entypo-user"><i class="fas fa-money-bill"></i></span></label>
                    <input type="number" min="0" name="precio" class="form-control" id="precio" [(ngModel)]="vinilo.precio"
                        #precio="ngModel" placeholder="Precio" [ngClass]="{'is-valid' : f.submitted && precio.invalid}" required>
                </div>
                <div class="password">
                        <label><span class="entypo-user"><i class="fas fa-align-left"></i></span></label>
                    <input type="text" name="categoria" class="form-control" id="categoria" [(ngModel)]="vinilo.categoria"
                        #categoria="ngModel" placeholder="Categoria" [ngClass]="{'is-valid' : f.submitted && categoria.invalid}" required>
                </div>
                <div class="password">
                        <label><span class="entypo-user"><i class="fas fa-industry"></i></span></label>
                    <input type="text" name="productora" class="form-control" id="productora" [(ngModel)]="vinilo.productora"
                        #productora="ngModel" placeholder="Productor" [ngClass]="{'is-valid' : f.submitted && productora.invalid}" required>
                </div>
                <div class="password">
                        <label><span class="entypo-user"><i class="fas fa-image"></i></span></label>
                    <input type="text" name="previewURI" class="form-control" id="previewURI" [(ngModel)]="vinilo.previewURI"
                        #previewURI="ngModel" placeholder="imageURl" [ngClass]="{'is-valid' : f.submitted && previewURI.invalid}" required>
                </div>

                <app-drop-zone style="margin-top: 20px;" (rutaFoto)="anadirImagen($event)"></app-drop-zone>
                <img [src]="vinilo.previewURI" *ngIf="vinilo.previewURI" style="max-height: 300px;">

                
                <button class="btn" type="submit">Crear</button>
                <button class="btn" style="background:#343a40 " (click)="cancelCreation()">Cancelar</button>
                
            </form>
        </div>
    </div>
</div>