    <div class="row">
            <div class="col-12">
                    
                    <app-comentario-create  (create)="ngOnInit()" 
                    [tipo] = "tipo" [id] = id></app-comentario-create>
                    <div class="comments">
                            <div class="comment-wrap" *ngFor="let com of comentario">
                                <div class="photo">
                                    <img class="avatar" [src]="com.escritoPor.imagen">
                                </div>
                                <div class="comment-block">
                                    <b>{{com.escritoPor.nombre}}</b>
                                    <p class="comment-text">{{com.contenido}}</p>
                                    <div *ngIf="soyYo(com.escritoPor.id)" style="float:right;">
                                            <button class="btn btn-danger text-center" (click)="deleteComentarios(com.id)" ><span class="fa fa-trash"></span></button>
                                    </div>
                                </div>
                                
                            </div>
                        
                    </div>

    

        </div>
    </div> 




