<div class="row">
    <div class="col-sm-4"  *ngFor="let tarjeta of billingtarjetas">
        
         <div class="card text-white bg-dark mb-4" style="cursor: pointer;">
      
                <div class="card-body">
                    <p class="card-text"> Nombre: {{tarjeta?.name}}</p>
                    <p class="card-text"> Precio: ${{tarjeta?.numero}}</p>
                    <p class="card-text"><small class="text-muted">Más información próximamente</small></p>
                    <button [ngClass]="{ 'button-light save': !showEdit, 'button-light save': showEdit }" type="button" class="btn"
                    (click)="showHideEdit(tarjeta?.id)">Editar vinilo</button>
                </div>
        </div>
    </div>  
    <div *ngIf="showEdit">
        <app-tarjeta-edit [id]="idActual" (cancel)="showHideEdit()" (update)="ngOnInit()"   *ngIf="showEdit"></app-tarjeta-edit>
      </div>

</div>