<div class="container-fluid">
    <div class="row">
        <div class="col-2" >
            <div class="titulo">
                <h3>Menu</h3>
            </div>   
            <div class="navegacion">
                <nav class="nav flex-column">
                        <span class="nav-link disabled">Resumen</span>
                        <a class="nav-link" routerLink="/map">Publicaciones</a>
                        <a class="nav-link" routerLink="/transacciones">Transacciones</a>
                        <a class="nav-link" routerlink="/vinilos">Vinilos</a>
                        <a class="nav-link" href="#">Link</a>
                        
                </nav>

                <nav class="nav flex-column" *ngIf="loggeado">
                        <span class="nav-link disabled">Mi Cuenta</span>
                        <a class="nav-link" routerLink="/billing">Información de pago</a>
                        <a class="nav-link" href="#">Link</a>
                        <a class="nav-link" href="#">Link</a>
                        
                </nav>
                
            </div>
            
        </div>
    </div>
</div>