
<div *ngIf="showCreate" style="height:100%;">

        <app-vinilo-create (cancel)="showHideCreate()" (create)="ngOnInit()"   *ngIf="showCreate"></app-vinilo-create>
</div> 
<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
        <h4 style="color:white" class="display-4">Tus Vinilos</h4> <button type="button" class="btn"
        (click)="showHideCreate()" style="background: var(--primary); color:white" *ngIf="!showCreate">Agregar vinilo</button>
</div>

<div class="row">
    
    <div class="col-sm-4"  *ngFor="let vinilo of vinilos">
        
         <div class="card text-white bg-dark mb-4" routerLink="/misVinilos/{{vinilo?.id}}" style="cursor: pointer;">
            <img class="card-img-top" [src]='vinilo.previewURI || ""' alt="Card image cap"> 
                <div class="card-body">
                    <h5 clas="card-title">Temp</h5>
                    <p class="card-text"> Nombre: {{vinilo?.nombre}}</p>
                    <p class="card-text"> Precio: ${{vinilo?.precio}}</p>
                    <p class="card-text"><small class="text-muted">Más información próximamente</small></p>
                    
                </div>
        </div>
    </div>  


</div>

 

