<div class="row">
        <div class="col-sm-4"  *ngFor="let vinilo of vinilos">
            
             <div class="card text-white bg-dark mb-4" routerLink="/vinilos/{{vinilo?.id}}" style="cursor: pointer;">
                <img class="card-img-top" [src]='vinilo.previewURI || ""' alt="Card image cap"> 
                    <div class="card-body">
                        <p class="card-text"> Nombre: {{vinilo?.nombre}}</p>
                        <p class="card-text"> Precio: ${{vinilo?.precio}}</p>
                        <p class="card-text"><small class="text-muted">Más información próximamente</small></p>
                        
                    </div>
            </div>
        </div>  
    
    
    </div>