

<div class="comments">
<div class="comment-wrap">
        <div class="photo">
                <img class="avatar" [src]="this.login.currentUser.imagen">
        </div>
        <div class="comment-block">
                <form name = "comentario" (ngSubmit) = "f.form.valid && createComentario()" #f="ngForm" novalidate>
                        <div style="position: relative;">
                                <textarea name = "contenidoMensaje" id= "contenidoMensaje" [(ngModel)] = "comentario.contenido" #contenidoMensaje = "ngModel" [ngClass]="{'is-valid' : f.submitted && contenidoMensaje.invalid}" required cols="30" rows="3" placeholder="Comentar..."></textarea>
                                <button type = "submit" style="position:absolute; bottom:0; right: 0; border-radius: .25em; background: var(--primary); color:white;"><i class="far fa-paper-plane"></i></button>
                        </div>
                        </form>
        </div>
</div>
</div>