<div class="overview__albums">
              
    <div class="overview__albums__head">
    
      <span class="section-title">{{vinilo?.artista}}</span> 
    </div>
    
    <div class="album">
    
      <div class="album__info">
      
        <div class="album__info__art">
        
            <img class="card-img-top" [src]='vinilo?.previewURI || ""' alt="Card image cap"> 
          
        </div>
        
        <div class="album__info__meta">
        
          <div class="album__year">{{vinilo?.fechaLanzamiento | date}}</div>
          
          <div class="album__name">{{vinilo?.nombre}}</div>
          <div class="album__year" style="font-size: 0.8em">$ {{vinilo?.precio}}</div>


          
        </div>
        
      </div>
      

      
    </div>
    
  <list-canciones [canciones] = "vinilo?.canciones"></list-canciones>

  <button [ngClass]="{ 'button-light save': !showCreates, 'button-light save': showCreates }" type="button" class="btn"
  (click)="showHideCreates()">Agregar cancion</button>


  <button [ngClass]="{ 'button-light save': !showCreate, 'button-light save': showCreate }" type="button" class="btn"
  (click)="showHideCreate()">Ver comentarios Vinilo</button>

  <button [ngClass]="{ 'button-light save': !showEdit, 'button-light save': showEdit }" type="button" class="btn"
  (click)="showHideEdit()">Editar vinilo</button>
  <button class="btn btn-danger text-center" (click)="deleteVinilo()" ><span class="fa fa-trash"></span></button>
  <div *ngIf="showCreate">
  <app-comentario-list [tipo]="tipo" [id] = "id" ></app-comentario-list>

</div>
<div *ngIf="showCreates">

  <app-cancion-create (cancel)="showHideEdit()" (create)="ngOnInit()"   *ngIf="showCreates"></app-cancion-create>
</div>

<div *ngIf="showEdit">

  <app-vinilo-edit [vinilo_id] = "id" (cancel)="showHideEdit()" (update)="ngOnInit()"   *ngIf="showEdit"></app-vinilo-edit>
</div>


  </div>

