<div class="col-sm-4">
     
        <h1  style="color:#ffffff">Transacciones</h1>
</div>
<br>

<br>
<div *ngIf="transacciones!=undefined">
<div class="container">
            <ul class="nav" style="display:flex; color:#ffffff;">
                
                  <a class="nav-link"(click)="mostrarCompras()">Compras <span class="sr-only">(current)</span></a>
                 <a class="nav-link" (click)="mostrarVentas()">Ventas</a>
                
                
              </ul>
            </div>
            <div *ngIf="transacciones!=undefined&&transacciones.length!=0">
                    <br><br>
    <div class="row">
      
        
            <div class="col-sm-4"  *ngFor="let transaccion of (transacciones)">
                <div class="card text-white bg-dark mb-4" style="cursor: pointer;"  >
                    
                    <img class="card-img-top" [src]='transaccion.vinilo.previewURL' alt="Card image cap" > 
                    <div class="card-body" >
                        <h5 clas="card-title"> {{transaccion.vinilo.nombre}}</h5>
                        <p class="card-text">{{transaccion.vinilo.precio | currency:'COP'}}</p>
                        <p class="card-text">Estado: {{transaccion.estado}}</p>
                        
                        <p class="card-text"><small class="text-muted">Forma de pago: {{transaccion.formaDePago}}</small></p>
                        <button class="button-light save" routerLink="/transacciones/{{transaccion.id}}" >Acceder Detalle</button>
                  
                    </div>
                    
                </div>
            </div> 
        </div>
        
       
       
    </div>
    <div *ngIf="transacciones!=undefined&&transacciones.length==0&&compras==true">
        <br>
        <br>
            <h6  style="color:#ffffff">No tiene compras registradas.</h6>
    </div>
    <div *ngIf="transacciones.length==0&&compras==false">
            <br>
            <br>
            <h6  style="color:#ffffff">No tiene ventas registradas.</h6>
    </div>
</div>