<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1 ">MEDIOS DE PAGO</h5>
        <div class="row text-center">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-12 col-md-4"  *ngFor="let tarjeta of billingtarjetas"  > <!--  ngIf="tarjeta.name.startsWith('S')" -->
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');" >
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center"  >

                                    <p><img class="img-fluid" src='{{tarjeta.imagen}}' alt="card image"></p>
                                    <h4 class="card-title">VISA</h4>
                                    <p class="card-text">{{tarjeta.name}}</p>
                                    <p class="card-text">{{tarjeta.numero}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">VISA</h4>
                                    <p class="card-text"> Fecha de vencimiento: {{tarjeta.fechaVencimiento | date:'yyyy-MM-dd'}}</p>
                                    <p class="card-text"> CVC: {{tarjeta.cvc}}</p>
                                  <div class= "row" >
                                    <div class="col align-self-end">
                                    <ul class="list-inline  " style="height: 100%;">
                                        <li class="list-inline-item ">
                                            <a class="" target="_blank" href="#">
                                                <i class="fa fa-trash fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="" target="_blank" href="#">
                                                <i class="fa fa-edit fa-2x"></i>
                                            </a>
                                        </li>

                                    </ul>
                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->