<div class="container2">
    <div class="login-wrapper">
        
          <h1 class="display-4" style="color: #fff;margin-bottom: 1em; text-align: center;">Login</h1>
          <form name="login" class="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <!-- username --> 
          <div class="username">
            <label><span class="entypo-user"><i class="fas fa-user-circle"></i></span></label>
            <input type="text" name="email" id="email" [(ngModel)]="credenciales.email" #email="ngModel" 
          placeholder="Email" required />
          </div>
          <!-- password -->
          <div class="password">
            <label><span class="entypo-lock"><i class="fas fa-lock"></i></span></label>
            <input type="password" name="contrasenha" id="contrasenha" [(ngModel)]="credenciales.contrasenha" #contrasenha="ngModel" 
          placeholder="Contraseña" required />
          </div>
          <!-- button -->
          <button class="btn" type="submit">Ingresar</button>
          <p>
            No tienes una cuenta aún? <a routerLink="/register" class="link">Registrate ahora! <span class="entypo-right-thin"></span></a>
          </p>
        </form>
        
      </div> 
</div>