
<br>
<br>

    <div class="row">
      
        
            <div class="col-sm-4"  *ngFor="let transaccion of transacciones">
                <div class="card text-white bg-dark mb-4" style="cursor: pointer;"  >
                    
                    <img class="card-img-top" [src]='transaccion.vinilo.previewURL' alt="Card image cap" > 
                    <div class="card-body" >
                        <h5 clas="card-title"> {{transaccion.vinilo.nombre}}</h5>
                        <p class="card-text">{{transaccion.vinilo.precio | currency:'COP'}}dashdhasdsadhdh</p>
                        <p class="card-text">Estado: {{transaccion.estado}}</p>
                        
                        <p class="card-text"><small class="text-muted">Forma de pago: {{transaccion.formaDePago}}</small></p>
                        <button class="button-light save" routerLink="#" >Acceder Detalle</button>
                  
                    </div>
                    
                </div>
            </div> 

       
       
    </div>
