<table class="table table-dark" >
    <tbody>
            <tr>
                    <th scope="row">Estado</th>
                    <td>{{transaccionDetail.estado}}</td>
<td><div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="estado">Estado</label>
    </div>

    <select class="custom-select-dark" id="estado" [(ngModel)]="transaccionDetail.estado" #estado="ngModel" >
      <option value="Finalizada">Finalizada</option>
      <option value="Peticion">Peticion</option>
      <option value="Cancelada">Cancelada</option>
    </select>
  </div></td>


                </tr>
        <tr>
            <th scope="row"> Forma de Pago</th>
            <td>{{transaccionDetail.formaDePago}}</td>
        </tr>
        
    </tbody>
</table>


<div class="container">
<button class="button-light save" (click)="actualizar1()">Aceptar</button>
  <button class="button-light save" (click)="salir()">Cancelar</button>
  </div>