<h1  style="color:#ffffff">Carrito Compras</h1>
<dl>
    <dl>
    <div class="row">
      
        <div class="col-sm-3"  *ngFor="let carritoCompras of carritoComprasDetail">
            <div class="card text-white bg-dark mb-3" style="cursor: pointer;"  >
                
                <img class="card-img-top" [src]='carritoCompras' alt="Card image cap" > 
                <div class="card-body" >
                    <h5 clas="card-title">Temp</h5>
                    <p class="card-text">Id : {{carritoCompras.id}}</p>
                    <p class="card-text">Voy haciendolo</p>
                    
                    <p class="card-text"><small class="text-muted">Voy haciendolo</small></p>
                    <a href="/transacciones/{{carritoCompras.id}}" class="card-link">Temp</a>
                </div>
                
            </div>
        </div> 

   
   
</div>

