/* You can add global styles to this file, and also import other style files */
@import url("./assets/bootstrap.css");
@import url("./assets/videogular2.css");


body{
  background: #000;
}


.btn:hover,.btn:active, .btn:focus, .btn:visited{
    outline: none !important;
  
  }
  .dropdown-menu .show{
    z-index: 1000;
  }
button:focus,button:active {
  outline:0;  
}
.dropdown-item.active, .dropdown-item:active{
  color: #000 !important;
  word-wrap: break-word !important;
}
.card{
  word-wrap: break-word !important;
  
  
}

vg-controls vg-scrub-bar-current-time .background{
  border: 1px solid brown;
}
vg-scrub-bar-current-time .background
{
  background: var(--primary);
}

ngb-typeahead-window{
  left: 0 !important;
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
}