<section style="position:absolute; width: 100%; heigth:40vh; background: var(--primary);">

</section>

<ngx-slick-carousel *ngIf="vinilosRock" class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)"
    [config]="slideConfig">
    <div ngxSlickItem *ngFor="let vinilo of vinilosRock" class="slide">
        <card-vinilo [vinilo]="vinilo"></card-vinilo>
    </div>
</ngx-slick-carousel>


<ngx-slick-carousel *ngIf="vinilosPop" class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)"
    [config]="slideConfig">
    <div ngxSlickItem *ngFor="let vinilo of vinilosPop" class="slide">
        <card-vinilo [vinilo]="vinilo"></card-vinilo>
    </div>
</ngx-slick-carousel>