<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<div class="row" id="contenedor">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Create an Billing</h2>
        <br>
        <form name="billing" (ngSubmit)="f.form.valid && createBilling()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="billingCuenta"><b>Cuenta de Ahorros</b></label>
                <input type="text" name="billingCuenta" class="form-control" id="billingCuenta" [(ngModel)]="billing.cuentaDeAhorros"
                    #billingCuenta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && billingCuenta.invalid }" required>
                <div class="invalid-feedback">
                    <div>La cuenta es invalida</div>
                </div>
            </div>